@import './base.css';

.on-top {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

a,
.green {
  text-decoration: none;
  color: #489991;
  transition: 0.4s;
  font-weight: 500;
}

@media (hover: hover) {
  a:hover {
    background-color: #d4e5e2;
  }
}