:root {
    --background: #dfe3e4;
    --title: #1f4045;

    --carroad: #edeff2;
    --walkpath: #8693958e;

    --softborder: #d3d5dc;
    --hardborder: #869395;
    
    --buildfill: #ced2d5;
    --buildbord: #9ca5a7;
  }

html, body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: var(--background);
   touch-action: none;
   overflow: hidden;
   transition: opacity 0.5s;
   margin: 0;
   height: 100%;  
}


.on-top {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;

}

 h1 {
    font-family: 'Viga';
    color: var(--title);
    font-weight: bold;
    font-size: 2em;
    margin: 0 5px;
}

#nametag {
    color: black;
    opacity: 0;
    font-size: 14px;
    position: absolute;
    background-color: white;
    width: fit-content;
    padding: 2px 6px 4.5px;
    border: 2px solid var(--softborder);
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition-duration: .1s;
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .6s;
    height: 100%;
}

#popup {
    width: 100%;
    height: 200px;
    position: absolute;
    pointer-events: all;
    padding: 0px 20px;
    bottom: 0;
    transform: translateY(200px);
    transition: transform .5s;
    box-sizing: border-box;
    background-color: white;
    border: 3px solid var(--hardborder);
    box-shadow: 0px -2px 25px rgba(0,0,0,0.08);
    border-radius: 20px 20px 0px 0px;
}

#popup-name {
    position: absolute;
    top: -5px;
    font-weight: 600;
    font-size: larger;

}

.map-overlays { 
    position: absolute; 
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.titles {
    position: absolute;
    color:white;
    font-size: 16px;
    font-weight:700; 
    opacity: 0.5;
}

.map-overlays-icons {
    text-shadow: 0px 10px 0px rgba(59, 77, 111, 0.6), 0px 25px 40px rgba(0,0,0,0.2);
}

#mask {
    opacity: 0;
    /* display: none; */
    transition: all .5s;
    fill: var(--background) !important;
    stroke: none !important;
}


#map {
    position: absolute;
    /* startup properties (replaced): */
    opacity: 0;
    transition: width 1s, opacity .8s; 
    width: 50px;
}

#buildings path {
    cursor: pointer;
    fill: var(--buildfill);
    stroke: var(--buildbord);
    stroke-width: 1px;
    transition-duration: .2s;
}


#other path {
    fill: var(--buildfill);
    stroke: var(--buildbord);
    stroke-width: 1px;
}

#bg {
    fill: none;
}

#roadlarge {
    stroke: var(--carroad);
    stroke-width: 9px;
}

#roadmed path {
    stroke: var(--carroad);
    stroke-width: 4px;
}

#roadsmall path {
    stroke: var(--carroad);
    stroke-width: 3px;
}

#roadtop path {
    fill: none;
    stroke: var(--carroad);
    stroke-width: 3px;
}

#walktop path {
    fill: none;
    stroke: var(--walkpath);
    stroke-width: 1px;
}

#walk path {
    stroke: var(--walkpath);
    stroke-width: 1px;
}

#stair path {
    stroke: var(--walkpath);
    stroke-width: 3px;
    stroke-dasharray: 1px;
}

.selected {
    opacity: 1 !important;
    fill: #3aeab5 !important;
    stroke: #20c05b6f !important;
    stroke-width: 2px !important;
    /* filter: drop-shadow(0px 0px 45px rgba(32, 120, 91, 0.2)); */
}