html, body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #ebeff0;
   overflow: hidden;
   height: 100%;  
}

.on-top {
    position: absolute;
    z-index: 2;
}

 h1 {
    font-family: 'Viga';
    color: rgb(19, 80, 93);
    font-weight: bold;
    font-size: 2em;
    margin: 0 5px;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#buildings {
    position: absolute;
    /* startup properties (replaced): */
    transition: width 1s; 
    width: 50px;
}

#buildings path {
    fill: #a6b5b8;
    stroke: #759197;
    stroke-width: 8px;
    transition-duration: .3s;
}

#buildings :hover {
    fill: #759197;
    stroke: #13505d;
    stroke-width: 18px;
}